<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Список студентов</title>
</head>
<body>
<a class="btn btn-primary m-2" href="{% url 'core:student_create' %}"> Добавить студента</a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Направление</th>
        <th scope="col">Карточка</th>
        <th scope="col">Обновление</th>
        <th scope="col">Удаление</th>
    </tr>
    </thead>
    {% for student in object_list %}
        <tbody>
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.direction.name }}</td>
            <td><a class="btn text-primary" href="{% url 'core:student' student.pk %}">Открыть</a></td>
            <td><a class="btn text-primary" href="{% url 'core:student_update' student.pk %}">Обновить</a></td>
            <td><a class="btn text-danger" href="{% url 'core:student_delete' student.pk %}">Х</a></td>
        </tr>
        </tbody>
    {% endfor %}
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>